footer {
    background-color: white;
    border: 1px solid #CCCCCC;
    height: 60px;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer p {
    display:inline-block;
    margin: auto;
}